@model APIRPA.models.FormularioEmailModel

@{
    Layout = null;
}

@{
    WebImage image = null;
    var newFileName = "";
    var imagePath = "";
    if (IsPost)
    {
        image = WebImage.GetImageFromRequest();
        if (image != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(image.FileName);
            imagePath = @"tempfiles\" + newFileName;
            image.Save(@"~\" + imagePath);
        }
    }
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/estilosUNED.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
</head>
<body>
    <div align="center">
        <header class="container" role="banner">
            <div class="row page-header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="http://www.uned.es" title="Acceso a página Principal de la UNED">
                        <img src="~/Images/UNEDlogo.png" class="img-responsive pull-left" alt="Logo Universidad Nacional a Distancia" width="160" height="80" />
                    </a>
                    <h1 class="text-center">Servicio de cambio de Email Personal de contacto</h1>
                </div>
            </div>
        </header>

        <div class="panel panel-default login ">
            <div class="panel-body fondo-gris">
                <div class="container">
                    @using (Html.BeginForm("FormEmail", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.emailUnedSolicitante) <br />
                                @Html.TextBoxFor(m => m.emailUnedSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.emailUnedSolicitante, "", new { @class = "error" })
                                <br />
                                @Html.LabelFor(m => m.passSolicitante) <br />
                                @Html.PasswordFor(m => m.passSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.passSolicitante, "", new { @class = "error" })
                                <br />
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.nombreCompletoSolicitante) <br />
                                @Html.TextBoxFor(m => m.nombreCompletoSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.nombreCompletoSolicitante, "", new { @class = "error" })
                                <br />
                                @Html.LabelFor(m => m.nDniSolicitante) <br />
                                @Html.TextBoxFor(m => m.nDniSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.nDniSolicitante, "", new { @class = "error" })
                                <br />
                                @Html.LabelFor(m => m.emailPersSolicitante) <br />
                                @Html.TextBoxFor(m => m.emailPersSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.emailPersSolicitante, "", new { @class = "error" })
                                <br />
                                @Html.LabelFor(m => m.telfPersSolicitante) <br />
                                @Html.TextBoxFor(m => m.telfPersSolicitante) <br />
                                @Html.ValidationMessageFor(m => m.telfPersSolicitante, "", new { @class = "error" })
                                <br />
                                @Html.LabelFor(m => m.bytesReversoDni) <br />
                                @Html.TextBoxFor(m => m.bytesReversoDni, new { type = "file" }) <br />
                                @Html.ValidationMessageFor(m => m.bytesReversoDni, "", new { @class = "error" })
                                <br />
                            </div>
                        </div>       
                        <div class="hidden-xs">
                            <input type="submit" name="enviar" value="ENVIAR" class="btn btn-default btn-primary" />
                        </div>
                        <div class="visible-xs">
                            <input type="submit" name="enviar" value="ENVIAR" class="btn btn-default btn-primary btn-block" />
                        </div>
                    }
                </div>

                @*<form action="./Form" method="post" enctype="multipart/form-data">

                        <div class="hidden-xs">
                            <input type="submit" name="enviar" value="ENVIAR" class="btn btn-default btn-primary" />
                        </div>
                        <div class="visible-xs">
                            <input type="submit" name="enviar" value="ENVIAR" class="btn btn-default btn-primary btn-block" />
                        </div>
                    </form>*@
            </div>
        </div>
    </div>

    <footer class="container" role="navigation">
        <div id="panel_pie">
            <div class="row">
                <ul class="list-inline text-center">
                    <li><a href="http://www.uned.es" title="UNED">www.uned.es</a></li>
                    <!--<li><a href="http://portal.uned.es/portal/page?_pageid=93,176653&_dad=portal&_schema=PORTAL" title="UNED">Mapa Web</a></li>-->
                    <li><a href="https://www.uned.es/universidad/inicio/accesibilidad.html" title="UNED">Accesibilidad</a></li>
                    <li><a href="http://portal.uned.es/pls/portal/url/page/UNED_MAIN/LAUNIVERSIDAD" title="Tu Universidad">Tu Universidad</a></li>
                    <li><a href="http://portal.uned.es/portal/page?_pageid=93,171871&amp;_dad=portal&amp;_schema=PORTAL" title="Estudiar en la UNED">Estudiar en la UNED</a></li>
                    <li><a href="http://portal.uned.es/portal/page?_pageid=93,461455&amp;_dad=portal&amp;_schema=PORTAL" title="Investigación">Investigación</a></li>
                    <li><a href="http://portal.uned.es/portal/page?_pageid=93,176841&amp;_dad=portal&amp;_schema=PORTAL" title="Medios y servicios">Medios y servicios</a></li>
                    <li><a href="http://portal.uned.es/pls/portal/portal.home" title="Campus">Campus</a></li>
                </ul>
                <ul class="alert list-inline text-center">
                    <li>Centro de Tecnología de la UNED - 1995 / 2023</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
